<?xml version="1.0"?>
<launch>

<include file="$(find gazebo_demo)/launch/hector_slam.launch" />

<node pkg="joint_object_localizer" type="Object_Detection" name="Object_Detection_node" output="screen"/>

<node pkg="object_detector_ssd_tf_ros" type="ssd_node" name="ssd_node" output="screen"/>

<node pkg="object_mapping" type="Object_Mapper" name="Object_Mapper_node" output="screen"/>


</launch>
